<div *ngIf="this.shouldShow('editor')">
	<app-confirm-modal #md></app-confirm-modal>
	<button id="btn_submit" class="btn btn-primary" (click)="do_submit()">Submit</button>
	<button class="btn btn-primary" (click)="do_releasebuild()">Releasebuild</button>
	<button class="btn btn-primary" (click)="do_crossbuild()">Crossbuild</button>
	<button class="btn btn-danger" id="btn_delete" (click)="do_delete(md.show('Confirm', 'Are you sure you want to delete the package build and its packages?'))">Delete</button>
</div>
