<div *ngIf="this.shouldShow('editor')">
	<app-confirm-modal #md></app-confirm-modal>
	<div ngbDropdown class="d-inline-block">
		<button type="button" class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
			Actions
		</button>
		<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
			<button ngbDropdownItem (click)="do_submit()">Submit</button>
			<div class="dropdown-divider"></div>
			<button ngbDropdownItem (click)="do_releasebuild()">Releasebuild</button>
			<button ngbDropdownItem (click)="do_crossbuild()">Crossbuild</button>
			<div class="dropdown-divider"></div>
			<button ngbDropdownItem (click)="do_delete(md)">Delete</button>
		</div>
	</div>
</div>
