<table class="table table-hover table-bordered" style="position: sticky; top: 0;">
	<thead class="al_thead">
		<tr>
			<th class="al_th al_center">Package Name</th>
			<th fxHide.lt-md class="al_th al_center" style="width: 60%;">Job ID</th>
			<th class="al_th al_center">Requester</th>
			<th class="al_th al_center">Status</th>
		</tr>
	</thead>
	<tbody class="al_tbody">
		<tr>
			<td colspan="4"><h3>Queued Jobs ({{queued_jobs?.length}})</h3></td>
		</tr>
		<tr *ngFor="let job of queued_jobs">
			<td class="al_td al_nowrap al_center">{{ job.job_name }}</td>
			<td fxHide.lt-md class="al_td al_nowrap al_center">{{ job.job_id }}</td>
			<td class="al_td al_nowrap al_center">{{ job.requesting_client }}</td>
			<td class="al_td al_nowrap al_center">{{ job.job_status }}</td>
		</tr>
		<tr>
			<td colspan="4"><h3>Running Jobs ({{running_jobs?.length}})</h3></td>
		</tr>
		<tr *ngFor="let job of running_jobs" (click)="logViewModal.show(job.job_id);">
			<td class="al_td al_nowrap al_center">{{ job.job_name }}</td>
			<td fxHide.lt-md class="al_td al_nowrap al_center">{{ job.job_id }}</td>
			<td class="al_td al_nowrap al_center">{{ job.requesting_client }}</td>
			<td class="al_td al_nowrap al_center">{{ job.job_status }}</td>
		</tr>
		<tr>
			<td colspan="4"><h3>Completed Jobs ({{completed_jobs?.length}})</h3></td>
		</tr>
		<tr *ngFor="let job of completed_jobs?.slice()?.reverse()" (click)="logViewModal.show(job.job_id);">
			<td class="al_td al_nowrap al_center">{{ job.job_name }}</td>
			<td fxHide.lt-md class="al_td al_nowrap al_center">{{ job.job_id }}</td>
			<td class="al_td al_nowrap al_center">{{ job.requesting_client }}</td>
			<td class="al_td al_nowrap al_center">{{ job.job_status }}</td>
		</tr>
	</tbody>
</table>

<app-log-view-modal #logViewModal></app-log-view-modal>
